* { font-family: Tahoma; }

body {
  margin: 0px;
  padding: 0px;
}

#interface-1,
#interface-2 {
  position: absolute;
  width: auto;
  height: auto;
  z-index: 500;
  color: white;
}

#interface-1 {
  left: 10px;
  top: 10px;
}

#interface-2 {
  left: 10px;
  bottom: 10px;
}

#scene {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
